<h1 class="page-title">Write your blog below:</h1>

<form action="/blog" method="POST">
    <input name="title" type="text" placeholder="Enter blog title">
    {{!-- <input name="comment" type="text" placeholder="Enter blog comment" class="comment-input"> --}}
    <textarea id="blog-comment" name="comment" placeholder="Enter your blog comment"></textarea>
    <button type="submit">Submit</button>
</form>

<!-- Display existing blogs -->
{{#each blogs}}
  <div class="blog-container">
    <div class="top-line">
      <h3 class="blog-title">{{this.title}}</h3>
      <p class="blog-author">Posted by {{user.userName}} on {{createdAt}}</p>
    </div>
    <p class="blog-comment">{{this.text}}</p>
</div>
{{/each}}
