<form action="/blog" method="POST">
    <input name="title" type="text" placeholder="Enter blog title">
    <input name="comment" type="text" placeholder="Enter blog comment">
    <button type="submit">Submit</button>
</form>

<!-- Display existing blogs -->
{{#each blogs}}
  <div class="blog-container">
    <h3 class="blog-title">{{this.title}}</h3>
    <div class="blog-details">
      <p class="blog-author">Created by: {{this.User.userName}}</p>
      <p class="blog-comment">{{this.text}}</p>
    </div>
  </div>
{{/each}}
