<h1 class="page-title">Update your post:</h1>

<form action="/blogs/{{this.id}}/update" method="POST">
  <input type="hidden" name="_method" value="PUT">
  <input type="text" name="title" value="{{this.title}}">
  <input type="text" name="text" value="{{this.text}}">
  <button type="submit">Update</button>
</form>